@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Личный кабинет</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light justify-content-between fixed-top">
            <a href="/Home/Index" class="navbar-brand" style="color:#F3533B;">АНТИКонтрафакт</a>

            <span style="margin-right: 10px;">
                <span style="font-size:20px;">
                    @{try
                        { @ViewBag.UserName;
                        }
                        catch { }}
                </span>
                <a href="/Home/Account">
                    <img src="~/HTML-Страницы/merge/person-circle.svg">
                </a>
            </span>
        </nav>
    </header>

    <h1 style="padding-top: 80px;">ЛИЧНЫЙ КАБИНЕТ</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 blue">
                <table width="100%">
                    <tbody style="text-align: center;">
                        <tr style="font-size: 100px;line-height: 140px;">
                            <!--Здесь вставляются актуальные данные пользователя-->
                            <td>@ViewBag.ShowInfo</td>
                            <td>@ViewBag.NotShowInfo</td>
                            <td>@ViewBag.SendInfo</td>
                            <td>@ViewBag.DraftInfo</td>
                        </tr>
                        <tr style="line-height: 20px;">
                            <td>заявлений<p>рассмотренно</p></td>
                            <td>заявлений<p>на рассмотрении</p></td>
                            <td>заявлений<p>отправлено</p></td>
                            <td>черновиков<p></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xl-6 red">
                <h2 align="center">

                    @{
                        if (@ViewBag.TypeUser == AntiContr_Lib.TypeUser.User)
                        {
                            <span>Пожаловаться на контрафакт</span>
                            <a href="/Home/RequestsPage" style="margin: 10px;"><img src="~/HTML-Страницы/merge/next.svg" alt="next"></a>
                        }
                        else
                        {
                            <span>Просмотреть заявления</span>
                            <a href="/Home/RequestsPage" style="margin: 10px;"><img src="~/HTML-Страницы/merge/next.svg" alt="next"></a>
                        }
                    }

                </h2>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 orange">
                <fieldset class="password-fieldset">
                    <!--Проверка старого пароля и ввод нового-->
                    @using (Html.BeginForm())
                    {
                        <input type="password" class="password-field" name="oldPass" placeholder="Старый пароль..."><br>
                        <input type="password" class="password-field" name="newPass" placeholder="Новый пароль..."><br>
                        <input type="password" class="password-field" name="new2Pass" placeholder="Подтвердите пароль..."><br>
                        <button type="submit" name="submitButton" value="NewPass" class="password-field">Сохранить</button>
                        <label>@ViewBag.ErrorPass</label>
                    }
                </fieldset>
            </div>
            <div class="col-xl-6 green">
                <fieldset class="password-fieldset">
                    <!--Конец сессии-->
                    @using (Html.BeginForm())
                    {
                        <button type="submit" name="submitButton" value="Exit" class="exit-button">Сменить пользователя</button>
                    }
                </fieldset>
            </div>
        </div>
        <h1>ИСТОРИЯ ЗАЯВЛЕНИЙ</h1>
        <div class="row">
            <div class="col-md-12 history-row">
                <table>
                    <tr>
                        <td><h3>Номер</h3></td>
                        <td><h3>Дата</h3></td>
                        <td><h3>Статус</h3></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Строки с информацией из базы данных-->
        @{
            if (ViewBag.datas != null)
            {
                foreach (AntiContr_Lib.RecordComlains item in @ViewBag.datas)
                {
                    if (item.status == "Черновик")
                    {
                    <div class="row blue history-row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.date</td>
                                    <td>@item.status</td>
                                    <td><a href="/Home/RequestsPage?id=@item.id"> Подробнее </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    }
                    if (item.status == "В рассмотрении")
                    {
                    <div class="row orange history-row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.date</td>
                                    <td>@item.status</td>
                                    <td><a href="/Home/RequestsPage?id=@item.id"}> Подробнее </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    }

                    if (item.status == "Архивирована")
                    {
                    <div class="row green history-row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <td>@item.id</td>
                                    <td>@item.date</td>
                                    <td>@item.status</td>
                                    <td><a href="/Home/RequestsPage?id=@item.id"> Подробнее </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                        }
                    }
                }
        }
    </div>
    <footer>
        <div class="container">

        </div>
    </footer>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>
