@{
    Layout = null;
}
@{
    AntiContr_Lib.FullInfoBarcode fullInfo = @ViewBag.BarcodeInfo;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Информация продукта</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a href="/Home/Index" class="navbar-brand" style="color:#F3533B;">АНТИКонтрафакт</a>

            <form>
                @*<span style="font-size:20px;">*@
                    @{try
                        { @ViewBag.UserName;
                        }
                        catch { }}
                @*</span>*@
                <a href="/Home/Account">
                    <img src="~/HTML-Страницы/merge/person-circle.svg">
                </a>
            </form>
        </nav>
    </header>


    <h1 style="padding-top: 10px;">ИНФОРМАЦИЯ О ПРОДУКТЕ</h1>
    <div class="container-fluid @ViewBag.Color">
        <div class="row">
            <div class=" col-12">
                <div class="form-group">
                    <h3>
                        Штрих-код:
                        @{@ViewBag.Barcode;}
                    </h3>
                </div>
                <div class="form-group">
                    <label> Фальсификат:</label>
                    <label> @{@ViewBag.Good;}</label>
                </div>
                @{
                    if (@fullInfo != null)
                    { 
                    
                    if (@fullInfo.group != null)
                    {
                            <div class="form-group">
                                <label>Группа товаров:</label>
                                <label>  @fullInfo.group </label>
                            </div>
                        }
                        if (@fullInfo.name != null)
                        {
                            <div class="form-group">
                                <label>Наименование:</label>
                                <label>  @fullInfo.name </label>
                            </div>
                        }
                        if (@fullInfo.brend != null)
                        {
                            <div class="form-group">
                                <label>Бренд:</label>
                                <label> @fullInfo.brend </label>
                            </div>
                        }
                        if (@fullInfo.unit_value != null)
                        {
                            <div class="form-group">
                                <label>Единица измерения:</label>
                                <label>  @fullInfo.unit_value </label>
                            </div>
                        }
                        if (@fullInfo.country != null)
                        {
                            <div class="form-group">
                                <label>Страна происхождения:</label>
                                <label> @fullInfo.country </label>
                            </div>
                        }
                        if (@fullInfo.article != null)
                        {
                            <div class="form-group">
                                <label>Артикул:</label>
                                <label>@fullInfo.article </label>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>


</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>
