@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>АНТИКонтрафакт</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=583f889b-d27f-4d17-8768-f984d944751c" type="text/javascript"></script>
    <style>
        #map {
            width: 70%;
            height: 500px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-light bg-light justify-content-between fixed-top">
            <a href="/Home/Index" class="navbar-brand" style="color:#F3533B;">АНТИКонтрафакт</a>

            <form>
                <span style="font-size:20px;">
                    @{try
                        { @ViewBag.UserName;
                    }
                    catch { }}
                </span>
                <a href="/Home/Account">
                    <img src="~/HTML-Страницы/merge/person-circle.svg">
                </a>
            </form>
        </nav>
    </header>

    <div class="container-fluid blue" style="padding-top: 90px;">
        <h1>ПРОВЕРИТЬ ТОВАР</h1>
        <p>Для получения информации о товаре и проверки легальности введите штрих-код.</p><!--Текст надо будет написать-->
        <p><img src="~/HTML-Страницы/merge/barkode.svg" alt="Штрих-код"></p>
        @using (Html.BeginForm())
        {
            <fieldset class="container">
            
            <div class="input-group  justify-content-center">
                <input type="text"  class="input-field" name="Barcode" placeholder="Штрих-код..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button type="submit" style="background-color: transparent; box-shadow: none; border:none;"><img src="~/HTML-Страницы/merge/next.svg" alt="next"></button>
                </div>
            </div>
            </fieldset>
        }
       

    </div>
    <div class="container-fluid orange">
        <h1>ПРОВЕРИТЬ ТОРГОВУЮ ТОЧКУ</h1>
        <p>Для получения информации о торговой точке и проверки легальности введите ИНН.</p><!--Текст надо будет написать-->
        <p><img src="~/HTML-Страницы/merge/inn.svg" alt="ИНН"></p>
        <fieldset class="container">
            @using (Html.BeginForm())
            {
                <div class="input-group  justify-content-center">
                    <input type="text" class="input-field" name="Tin" placeholder="ИНН..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button type="submit" style="background-color: transparent; box-shadow: none; border:none;"><img src="~/HTML-Страницы/merge/next.svg" alt="next"></button>
                    </div>
                </div>
            }
        </fieldset>
    </div>
    <div class="container-fluid red">
        <h1>ПОДАТЬ ЗАЯВЛЕНИЕ О КОНТРАФАКТЕ</h1>
        <p>Вы можете подать заявление контрафакте, которое будет передано в УФАС. <br> Для подачи заявления необходимо авторизироваться.</p><!--Текст надо будет написать-->
        <p><img src="~/HTML-Страницы/merge/application.svg" alt="Заявление"></p>
        <fieldset class="input-fieldset">
            <button type="button" onclick="location.href='/Home/Account';" class="input-field">Подать заявление</button>
        </fieldset>
    </div>
    <div class="container-fluid green">
        <h1>КАРТА ТОРГОВЫХ ТОЧЕК</h1>
        <div id="map">

        </div>
    </div>

</body>
@Scripts.Render("~/Scripts/search_control_ppo.js")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>
